.input-number {
  display: flex;
  margin: 5px;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
}

.input-number::placeholder {
  text-align: center;
}

#registerForm {
  display: flexbox;
  background-color: rgb(241, 96, 96);
  padding: 40px;
  border-radius: 20px;
  font-size: 20px;
}

.gen-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.1s;
}
.gen-btn:active {
  background-color: grey;
}

.copy-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.1s;
}

.copy-btn:active {
  background-color: rgb(97, 143, 28);
}

.output-wrap {
  display: flexbox;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  margin-top: 10px;
  border: 2px solid green;
}
